@media (max-width: 1200px)
    .container
        max-width: 960px
    .cover
        &-container
            max-width: 960px
    .projects
        padding: 100px 0
        &-wrapper
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 25px
            grid-template-rows: 364px 101px 370px 355px
    .card
        &-stages
            &-left
                width: 470px
                margin: 0 0 25px 0
            &-right
                width: 470px
                margin: 0 0 25px 0
    .choice
        &-volume
            width: 960px
        &-wrapper
            margin: 100px auto 100px 0
        &__image
            display: none
        &__tittle
            margin-left: 0px
@media (max-width: 992px)
    .container
        max-width: 700px
    .choice
        &-volume
            width: 700px
    .cover
        &-container
            max-width: 700px
        &__back
            position: absolute
            width: 523px
            height: 280px
            left: 50%
            top: 210px
            transform: translateX(-50%)
        &__tittle
            &-back
                top: 100px
        &-wrapper
            height: 700px
            position: relative
        &__tittle
            &-up
                position: absolute
                top: 50px
        .swiper
            width: 487px
            height: 244px
            left: 50%
        .swiper-pagination
            top: 550px
            &-bullet
                max-width: 167px
    .projects
        padding: 80px 0 160px 0
        &-wrapper
            grid-template-columns: repeat(5, 100%)
            grid-gap: 25px
            grid-template-rows: repeat(5,400px)
        .card
            position: relative
            &__text
                position: absolute
                right: 30px
                bottom: 30px
            &-globe
                grid-row: 1 
                grid-column: 1
                height: 400px
                &__image
                    margin: 30px 0 0 0
                    width: 254px
                    height: 169px
                    object-fit: cover
                    object-position: bottom
            &-insea
                grid-column: 1
                grid-row: 2
                height: 400px
                &__image
                    left: 25px
                    bottom: 25px
            &-luxoft
                grid-column: 1
                grid-row: 4
                height: 400px
            &-sheridan
                grid-column: 1
                grid-row: 3
                height: 400px
            &-winestyle
                grid-column: 1
                grid-row: 5
                height: 400px
                &__image
                    left: 25px
                    bottom: 25px
    .about
        &__text
            max-width: 600px
        &-links
            margin-top: 50px    
    .stages
        &__tittle
          animation: marquee 10s infinite linear  
        .card
            &-stages
                &-left
                    min-width: 100%
                &-right
                    min-width: 100%
    .choice
        &__image
            display: none
@media (max-width: 768px)
    .container
        max-width: 576px
    .choice
        &-volume
            max-width: inherit
        &__arrow
            display: none
        &-line
            margin-bottom: 30px
        &__tittle
            word-wrap: break-word
    .header
        &--fixed
            position: fixed
            top: 0
            right: 0
            left: 0
            z-index: 80
            padding-bottom: 30px
        &-right
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 90px
            background: $background-color
            width: 100%
            z-index: 99
            overflow-y: hidden
            &--visible
                display: block
        &-menu
            margin-top: 180px
            flex-direction: column
            &-mobile
                display: flex
                flex-direction: column
                &__button
                    display: block
                    min-width: 0
                    &--hidden
                        display: none
                &__close
                    &--visible
                        display: block
                        z-index: 100
            &__item
                margin-bottom: 20px

@media (max-width: 576px)
    .container
        max-width: 92%
    .choice
        &__tittle
            word-wrap: break-word
    .header
        .logo
            flex-direction: column
        &-wrapper
            align-items: flex-start
    .cover
        &-wrapper
            width: 600px
            height: 550px
        &__back
            left: 0
            right: 200px
            transform: translateX(20px)
        .swiper-pagination
            display: none
    .projects
        padding: 80px 0 160px 0
        .card
            position: relative
            &__tittle
                font-size: 48px
            &__text
                position: static
                right: 0
                bottom: 0
            &-globe
                grid-row: 1 
                grid-column: 1
                height: 400px
                &__image
                    margin: 25px 0 50px 0
                    width: 254px
                    height: 169px
                    object-fit: cover
                    object-position: bottom
            &-insea
                grid-column: 1
                grid-row: 2
                height: 400px
                &__image
                    left: 25px
                    bottom: 88px
            &-luxoft
                grid-column: 1
                grid-row: 4
                height: 400px
            &-sheridan
                grid-column: 1
                grid-row: 3
                height: 400px
            &-winestyle
                grid-column: 1
                grid-row: 5
                height: 400px
                &__image
                    left: 25px
                    bottom: 88px
    .stages
        &__tittle
          animation: marquee 5s infinite linear
        .card
            &-stages
                &-left
                    min-height: 390px
                &-right
                    min-height: 390px
@media (max-width: 375px)
    .container
        max-width: 300px
    .cover
        .swiper-pagination
            &-bullet
                max-width: 96px
                transform: translateX(-120%)
    .projects
        .card
            padding: 15px
            &__tittle
                font-size: 48px
            &-insea
                &__image
                    left: 15px
            &-sheridan
                &__image
                    max-width: 254px
                    max-height: 124px
            &-winestyle
                &__image
                    max-width: 266px
                    max-height: 158px
                    left: 15px
    .about
        &-links
            flex-wrap: wrap
            width: 200px
            &__item
                margin: 0 30px 30px 0
    .stages
        &__tittle
          animation: marquee 3s infinite linear
        .card
            padding: 15px
            &__name
                max-width: 275px
                word-wrap: break-word
    .footer
        padding: 0 0 30px 0
        &__link
            font-size: 12px
        &__text
            font-size: 12px

