@media (max-width: 1200px)
    .container
        max-width: 960px
    .internal
        &-description
            margin-right: 0
        &-wrapper
            &-luxoft
                &-block-1
                    &-left
                        margin-right: 25px
                        padding: 60px 20px 60px 20px
                    &-right
                        overflow: hidden
                &-block-2
                    &-right
                        padding: 60px 20px 60px 20px
                        margin-left: 25px
                    &-left
                        overflow: hidden
                &-block-3
                    &__image-2
                        margin: auto
                &-block-4
                    padding: 60px 20px 60px 20px
                    &-left
                        margin-right: 50px
                    &-right
                        overflow: hidden
@media (max-width: 992px)
    .container
        max-width: 700px
    .internal
        &-description
            max-width: 400px
            width: auto
        &-line
            &__image
                display: none

@media (max-width: 768px)
    .container
        max-width: 576px
    .internal
        &-points
            margin-bottom: 60px
        &-description
            min-width: 100%
        &-wrapper
            margin-bottom: 120px
            &-text
                width: 100%
            &-luxoft
                &-block-1
                    flex-direction: column
                    overflow: hidden
                    margin-bottom: 25px
                    &-left
                        margin-bottom: 25px
                        width: 100%   
                &-block-2
                    flex-direction: column
                    overflow: hidden
                    margin-bottom: 25px
                    &-right
                        margin-bottom: 25px
                        width: 100%
                        order: -1
                        margin-left: 0
                &-block-3
                    min-height: 442px
                    margin-bottom: 25px
                &-block-4
                    overflow: hidden
            &-text
                flex-direction: column
        &-line
            margin-bottom: 120px
            &__tittle
                font-size: 26px
            &__arrow
                display: none
@media (max-width: 576px)
    .container
        max-width: 92%
    .internal
        &-wrapper
            &-luxoft
                &-block-1
                    &-left
                        margin-right: 0
                        overflow: hidden
                        width: 500px
@media (max-width: 375px)
    .container
        max-width: 300px
        .internal
            &-wrapper
                &-luxoft
                    &-block-2
                        &-right
                            width: 570px
                            justify-content: flex-start
            &-line
                &__tittle
                    margin: 0
                            